[default]
numiters:25
popsize:10
parentpopsize:2
mutrate:0.01
arnconf:configfiles/arnsim.cfg
logconf:configfiles/logging.cfg
dmrate:.01
epidelta:0.1
epithreshold:0.5
chromatinereset:50
#junk, transposon, delete
#the corresponding functions have to be imported (ofc)
operators:transposon,delete
oprates:0.25,0.25
opargs:40
localsearch:
adf:
